<md-sidenav-container>
  <md-sidenav #sidenav mode="side" class="app-sidenav">
    <a [routerLink]="['/dashboard']">Dashboard</a>
  </md-sidenav>
  <md-toolbar>
    <button (click)="sidenav.toggle()" md-icon-button>
      <md-icon class="md-24">menu</md-icon>
    </button>
    <div>&nbsp;{{title}}&nbsp;</div>
    <div>
      <a [routerLink]="['']" md-raised-button>Home</a>
      <a [routerLink]="['/rating']" md-raised-button>Rating</a>
      <a [routerLink]="['/search']" md-raised-button>Search</a>
      <a [routerLink]="['/about']" md-raised-button>About</a>
    </div>
  </md-toolbar>

  <div>
    <router-outlet></router-outlet>
  </div>
</md-sidenav-container>
